<div class="d-flex justify-content-start top_Panel">
    <app-device-modal class="top-item"></app-device-modal>
    <app-user-modal class="top-item"></app-user-modal>
    <app-driver-modal class="top-item"></app-driver-modal>
    <app-group-modal class="top-item"></app-group-modal>
    <app-notification-modal class="top-item"></app-notification-modal>
    <app-computed-attributes-modal class="top-item"></app-computed-attributes-modal>
    <app-maintenance-modal class="top-item"></app-maintenance-modal>
    <app-account-modal class="top-item"></app-account-modal>
    <app-geofence-modal class="top-item"></app-geofence-modal>
    <app-server-modal class="top-item"></app-server-modal>
    
    <!-- <li><a href="#">
            <fa name="key"></fa>
        </a></li>
    <li><a href="#">
            <fa name="sliders"></fa>
        </a></li>
    <li><a href="#">
            <fa name="map-marker"></fa>
        </a></li>
    <li><a href="#">
            <fa name="search"></fa>
        </a></li>
    <li><a href="#">
            <fa name="bar-chart"></fa>
        </a></li>
    <li><a href="#">
            <fa name="check-square-o"></fa>
        </a></li>
    <li><a href="#">
            <fa name="book"></fa>
        </a></li>
    <li><a href="#">
            <fa name="delicious"></fa>
        </a></li>
    <li><a href="#">
            <fa name="object-group"></fa>
        </a></li>
    <li><a href="#">
            <fa name="camera"></fa>
        </a></li>
    <li><a href="#">
            <fa name="comments"></fa>
        </a></li> -->

        <a href="#" (click)="onlogout()">
            <fa name="sign-out"></fa>
          </a>
<!-- <button (click)="getmapstate()">Get map state</button> -->

</div>
