.obj_details {
    min-width: 30rem;
    height: 180px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #f5f5f5;
    box-shadow: -2px -5px 5px #ccc;
    transition: all .30s ease;
    .slide_arrow {
        width: 80px;
        height: 25px;
        background: #f5f5f5;
        position: absolute;
        left:50%;
        margin-left: -40px;
        margin-top: -25px;
        color: #007bff ;
        font-size: 20px;
        text-align: center;
        line-height: 25px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0px -5px 5px #ccc;
             
    }
    &.hide { 
        bottom: -180px;
        transition: all .3s ease;
      }
}