<div class="left_top_tab">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Object</ng-template>
      <ng-template ngbTabContent>
        <app-object-device></app-object-device>
        <app-object-details></app-object-details>
      </ng-template>

    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Events</ng-template>
      <ng-template ngbTabContent>
        <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
          farm-to-table</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>History</ng-template>
      <ng-template ngbTabContent>
        <p>Exercitation +2 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
          farm-to-table
          craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
          vinyl
          </p>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</div>