.sidepanel {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0px;
    width: 360px;
    background: #f5f5f5;
    height: calc(100vh - 40px);
    z-index: 999;
    transition: all .30s ease;  
    .slide_arrow {
        width: 25px;
        height: 80px;
        background: #f5f5f5;
        position: absolute;
        right: -25px;
        top: 50%;
        margin-top: -40px;
        color: #007bff ;
        font-size: 20px;
        text-align: center;
        line-height: 75px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
             
    }
    &.hide { 
        left: -360px;
        transition: all .3s ease;
      }
}